@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@using coreWeb.Controllers;
@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "TimViec";

    var nguoiLD = ViewBag.NguoiLaoDong;
    var timviec = ViewBag.TimViec;
    var vitri = ViewBag.ViTriCongViec;
    var tinh = ViewBag.DMTinh;
    var huyen = ViewBag.DMHuyen;
    var xa = ViewBag.DMXa;
    var vanBang = ViewBag.VanBang;
    var ngoaingu = ViewBag.NgoaiNgu;
    var tinhoc = ViewBag.TinHoc;
    var tg = ViewBag.TGLamViec;
    var nganhnghe = ViewBag.DMNganhNghe;
    var vanhoa = ViewBag.VanHoa;
    var cauhinh = ViewBag.CauHinh;
    int? userid = Context.Session.GetInt32("UserId");
}
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<script src="~/Content/Assets/js/bundle.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/Content/Assets/css/cv1_style.css">

<div class="body-view view-news">
    <div class="page_container">

        <div id="main-content" class="pb-3" style="margin-top:20px">
            @{

                <div class="">
                    <div class="row">
                        <div class="col-sm-12">

                            <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,600,600i,700,700i&amp;display=swap" rel="stylesheet">

                            <style>
                                :root {
                                    --cvtheme-color: #02528e;
                                }

                                #cvContent * {
                                    font-family: Roboto;
                                }
                            </style>

                            @{
                                if (timviec == null)
                                {
                                    <p style="margin-left :30px;margin-top:20px">
                                        Không tìm thấy trang
                                    </p>
                                }
                                else
                                {
                                    <div id="cvContent">
                                        <section class="divInfo">
                                            <div class="divPicture">
                                                <div class="dlTable">
                                                    <div class="infoPicture">
                                                        @{
                                                            if (nguoiLD.GioiTinhId == 1)
                                                            {
                                                                <div class="pictureBackground" title="" style="background-image: url('/Content/Portals/0/images/avatar2.jpg')">
                                                                </div>
                                                            }
                                                            else if (nguoiLD.GioiTinhId == 2)
                                                            {
                                                                <div class="pictureBackground" title="" style="background-image: url('/Content/Portals/0/images/avatar3.jpg')">
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="infoBasic">
                                                        <div class="divTen">
                                                            @nguoiLD.HoTen
                                                        </div>
                                                        <div class="cvTitle">
                                                            <span>@timviec.TenCongViec</span>

                                                            @*@{
                                                                    for (int i = 0; i < vitri.Count; i++)
                                                                    {
                                                                        if (vitri[i].Id == timviec.ViTriCongViecId)
                                                                        {
                                                                            @vitri[i].TenViTriCongViec
                                                                        }
                                                                    }
                                                                }*@

                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="col-sm-4 mb-1">
                                                                @{
                                                                    var dateofbirth = nguoiLD.NgaySinh.ToString().Split('/', ' ');
                                                                    var dof = dateofbirth[2];

                                                                    if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                    {
                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-birthday-cake"></i> Ngày sinh: <span>Thông tin ẩn</span>

                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="mb-0 fw-500">

                                                                            <i class="fal fa-birthday-cake"></i> Ngày sinh: @dof
                                                                        </p>
                                                                    }


                                                                }

                                                            </div>
                                                            <div class="col-sm-4 mb-1">
                                                                @{
                                                                    if (nguoiLD.GioiTinhId == 1)
                                                                    {
                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-venus-mars"></i> Giới tính: Nam
                                                                        </p>
                                                                    }
                                                                    else if (nguoiLD.GioiTinhId == 2)
                                                                    {
                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-venus-mars"></i> Giới tính: Nữ
                                                                        </p>
                                                                    }
                                                                }

                                                            </div>
                                                            <div class="col-sm-4 mb-1">
                                                                @{
                                                                    if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                    {

                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-id-card"></i> CMND/CCCD: <span>Thông tin ẩn</span>
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-id-card"></i> CMND/CCCD: @nguoiLD.SoDinhDanh
                                                                        </p>
                                                                    }
                                                                }

                                                            </div>
                                                            <div class="col-sm-4 mb-1">
                                                                <p class="mb-0 fw-500">
                                                                    <i class="fal fa-phone-alt"></i>
                                                                    Số điện thoại:
                                                                    @{
                                                                        if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                        {

                                                                            <a class="badge badge-info loginNtdModal">
                                                                                <b>Thông tin ẩn</b>
                                                                            </a>
                                                                        }
                                                                        else if (userid != 0)
                                                                        {
                                                                            <a class="badge badge-info loginNtdModal">
                                                                                @nguoiLD.SoDienThoai
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a class="badge badge-info loginNtdModal">
                                                                                @nguoiLD.SoDienThoai
                                                                            </a>
                                                                        }
                                                                    }

                                                                </p>
                                                            </div>

                                                            <div class="col-sm-4 mb-1">
                                                                @{
                                                                    if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                    {

                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-envelope"></i>
                                                                            Email:
                                                                            <b>Thông tin ẩn</b>
                                                                        </p>
                                                                    }
                                                                    else if (userid != 0)
                                                                    {

                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-envelope"></i>
                                                                            Email:
                                                                            @nguoiLD.Email
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="mb-0 fw-500">
                                                                            <i class="fal fa-envelope"></i>
                                                                            Email:
                                                                            @nguoiLD.Email
                                                                        </p>
                                                                    }
                                                                }

                                                            </div>
                                                            <div class="col-sm-4 mb-1">
                                                                @{
                                                                    if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                    {

                                                                        <p class="mb-0 fw-500">

                                                                            <i class="fal fa-map-marker-alt"></i> Địa chỉ: <span>Thông tin ẩn</span>
                                                                        </p>
                                                                    }
                                                                    else
                                                                    {
                                                                        <p class="mb-0 fw-500">

                                                                            <i class="fal fa-map-marker-alt"></i> Địa chỉ: @nguoiLD.DiaChi @xa.TenXa, @huyen.TenHuyen, @tinh.TenTinh
                                                                        </p>
                                                                    }
                                                                }

                                                            </div>
                                                        </div>
                                                        @*<div class="row">
                                                                <div class="col-sm-12">


                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="divInfoHalf"></div>
                                        </section>
                                        <section class="divProfile size-095rem">
                                            <div class="title-section">
                                                <span>
                                                    <i class="fal fa-user-alt"></i> Thông tin hồ sơ
                                                </span>
                                            </div>
                                            <div class="row infoHoSo">
                                                <div class="col-sm-7">
                                                    <p>
                                                        <span class="fw-500">
                                                            Mức lương mong muốn:
                                                        </span>
                                                        @{
                                                            if (timviec.MucLuongTu == null && timviec.MucLuongDen == null)
                                                            {
                                                                <span>Thỏa Thuận</span>
                                                            }
                                                            else if (timviec.MucLuongTu != null && timviec.MucLuongDen == null)
                                                            {
                                                                <span> Trên @timviec.MucLuongTu triệu</span>
                                                            }
                                                            else if (timviec.MucLuongTu != null && timviec.MucLuongDen != null)
                                                            {
                                                                <span>
                                                                    Từ @timviec.MucLuongTu - @timviec.MucLuongDen triệu
                                                                </span>
                                                            }
                                                        }

                                                    </p>
                                                    <p>
                                                        <span class="fw-500">
                                                            Kinh nghiệm:
                                                        </span>
                                                        @{
                                                            if (timviec.KinhNghiem != null)
                                                            {
                                                                @timviec.KinhNghiem
                                                            }
                                                            else
                                                            {
                                                                <span>Không xác định</span>

                                                            }
                                                        }

                                                    </p>
                                                    @*<p>
                                                            <span class="fw-500">
                                                                Lượt xem:
                                                            </span>
                                                            517
                                                        </p>*@
                                                    <p>
                                                        <span class="fw-500">Ngành nghề: </span>
                                                        @{
                                                            foreach (var item in nganhnghe)
                                                            {
                                                                if (item.Id == timviec.NganhNgheId)
                                                                {
                                                                    <span class="badge badge-info">
                                                                        @item.TenNganhNghe
                                                                    </span>
                                                                }
                                                            }
                                                        }
                                                        @*<span class="badge badge-info">
                                                                Hành chính / Thư ký / Văn phòng
                                                            </span>
                                                            <span class="badge badge-info">
                                                                Kinh doanh
                                                            </span>
                                                            <span class="badge badge-info">
                                                                Kế toán / Tài chính / Kiểm toán
                                                            </span>
                                                            <span class="badge badge-info">
                                                                Thực phẩm / Dịch vụ ăn uống
                                                            </span>*@
                                                    </p>
                                                </div>
                                                <div class="col-sm-5">
                                                    @{
                                                        for (int i = 0; i < vitri.Count; i++)
                                                        {
                                                            if (vitri[i].Id == timviec.ViTriCongViecId)
                                                            {

                                                                <p>
                                                                    <span class="fw-500">
                                                                        Chức vụ mong  muốn:
                                                                    </span>
                                                                    @vitri[i].TenViTriCongViec
                                                                </p>
                                                            }
                                                        }

                                                        foreach (var item in vanBang)
                                                        {
                                                            if (timviec.VanBangId == item.Id)
                                                            {
                                                                <p>
                                                                    <span class="fw-500">
                                                                        Trình độ học vấn:
                                                                    </span>
                                                                    @item.TenVanBang
                                                                </p>
                                                            }
                                                        }

                                                    }


                                                    @*<p>
                                                            <span class="fw-500">
                                                                Ngày cập nhật:
                                                            </span>
                                                            @{
                                                                var date = timviec.NgayTao.ToString().Split(' ');
                                                                var time = date[0];
                                                                @time
                                                            }

                                                        </p>*@
                                                    <p>
                                                        <span class="fw-500">Nơi làm việc: </span>
                                                        @timviec.NoiLamViec

                                                        @*<span class="badge badge-info">Vĩnh Long</span>
                                                            <span class="badge badge-info">An Giang</span>
                                                            <span class="badge badge-info">Hậu Giang</span>*@
                                                    </p>
                                                </div>
                                            </div>
                                        </section>
                                        @*<section class="divTarget size-095rem">
                                                <div class="title-section">
                                                    <span>
                                                        <i class="fal fa-trophy"></i> Giới thiệu chung
                                                    </span>
                                                </div>
                                                <p class="subtitle"><i class="fas fa-check-circle"></i> Giới thiệu bản thân</p>
                                                <p class="desc-padding">Bản thân là một người vui vẻ, hòa đồng, nhiệt tình và năng động. Thích ứng nhanh với môi trường mới không ngại khó khăn, hứng thú trong việc tìm ra hướng giải quyết cho vấn đề.</p>
                                                <p class="subtitle"><i class="fas fa-check-circle"></i> Mục tiêu nghề nghiệp</p>
                                                <p class="childtitle"><i class="fal fa-minus mr-1"></i> Mong muốn học hỏi kinh nghiệm ở môi trường làm việc chuyên nghiệp, năng động.                            </p>
                                                <p class="childtitle"><i class="fal fa-minus mr-1"></i> Tìm được một công việc ổn định lâu dài.                            </p>
                                                <p class="childtitle"><i class="fal fa-minus mr-1"></i> Có cơ hội thăng tiến, thành công trong công việc.                            </p>
                                            </section>*@
                                        <section class="divTimeLine size-095rem">




                                            <div class="title-section mb-0">
                                                <span>
                                                    <i class="fal fa-graduation-cap"></i> Học vấn / bằng cấp
                                                </span>
                                            </div>

                                            @{
                                                foreach (var item in vanhoa)
                                                {
                                                    if (timviec.VanHoaId == item.Id)
                                                    {

                                                        <div class="timeline">

                                                            <div class="item">
                                                                <div class="itemTime">

                                                                    <p><span class="fw-500">Văn hóa: </span></p>

                                                                </div>
                                                                <div class="itemInfo">
                                                                    <p><span class="fw-500">@item.TenVanHoa</span></p>

                                                                </div>
                                                            </div>
                                                        </div>


                                                    }
                                                }
                                            }



                                            @{
                                                foreach (var item in vanBang)
                                                {
                                                    if (timviec.VanBangId == item.Id)
                                                    {
                                                        <div class="timeline">

                                                            <div class="item">
                                                                <div class="itemTime">

                                                                    <p><span class="fw-500">Bằng cấp: </span></p>

                                                                    <p>
                                                                        <span class="fw-500">Chuyên ngành:</span>
                                                                    </p>
                                                                </div>
                                                                <div class="itemInfo">
                                                                    <p><span class="fw-500">@item.TenVanBang</span></p>

                                                                    <p><span class="fw-500">@timviec.ChuyenNganh</span></p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    }
                                                }
                                            }

                                        </section>
                                        <section class="divTimeLine size-095rem">
                                            <div class="title-section mb-0">
                                                <span>
                                                    <i class="fal fa-briefcase"></i> Kỹ năng
                                                </span>
                                            </div>

                                            <div class="timeline">
                                                <div class="item">
                                                    <div class="itemTime">
                                                        Ngoại ngữ:
                                                    </div>
                                                    <div class="itemInfo">
                                                        @{
                                                            if (timviec.NgoaiNguId != null)
                                                            {
                                                                <p>
                                                                    <span class="fw-500">@ngoaingu.TenChungChi</span>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    <span class="fw-500">Không</span>
                                                                </p>
                                                            }
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline">
                                                <div class="item">
                                                    <div class="itemTime">
                                                        Tin học:
                                                    </div>
                                                    <div class="itemInfo">
                                                        @{
                                                            if (timviec.TinHocId != null)
                                                            {
                                                                <p>
                                                                    <span class="fw-500">@tinhoc.TenChungChi</span>
                                                                </p>
                                                            }
                                                            else
                                                            {
                                                                <p>
                                                                    <span class="fw-500">Không</span>
                                                                </p>
                                                            }
                                                        }



                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timeline">
                                                <div class="item">
                                                    <div class="itemTime">
                                                        Kỹ năng khác:
                                                    </div>
                                                    <div class="itemInfo">
                                                        @{
                                                            if (timviec.KyNang == null)
                                                            {
                                                                <p><span class="fw-500">Không</span></p>
                                                            }
                                                            else
                                                            {
                                                                <p><span class="fw-500">@timviec.KyNang</span></p>
                                                            }
                                                        }


                                                    </div>
                                                </div>
                                            </div>

                                        </section>

                                    </div>
                                }
                            }



                            <div class="mt-2 mb-2">
                                <!-- Trang hồ sơ chi tiết -->
                                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2524335930965646" data-ad-slot="7266112391" data-ad-format="auto" data-full-width-responsive="true"></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                        </div>

                    </div>
                </div>

            }

        </div>


        @*<div id="dnn_ContentPane" class="contentPane">
                    <div class="DnnModule DnnModule-VLHCM DnnModule-501">
                        <a name="501"></a>
                        <div id="dnn_ctr501_ContentPane">
                            <!-- Start_Module_501 -->
                            <div id="dnn_ctr501_ModuleContent" class="DNNModuleContent ModVLHCMC">

                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                                <div class="Invisible candidate-view">
                                    <div id="dnn_ctr8061_ContentPane">
                                        <!-- Start_Module_8061 -->
                                        <div class="DNNModuleContent ModVLVNAdvanceC" id="dnn_ctr8061_ModuleContent">
                                            <input type="hidden" value="213084" id="XemHoSo_uvId" name="uvId">
                                            <input type="hidden" value="-1" id="XemHoSo_ntdId" name="ntdId">
                                            <input type="hidden" value="145535" id="XemHoSo_hsId" name="hsId">
                                            <div class="modulebox">
                                                <div class="blockin">
                                                    <div class="text">
                                                        <span id="XemHoSo_lblTenHoSo">
                                                            @for (int i = 0; i < vitri.Count; i++)
                                                            {
                                                                if (vitri[i].Id == timviec.ViTriCongViecId)
                                                                {
                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblTitle">@vitri[i].TenViTriCongViec</span>
                                                                }
                                                            }

                                                        </span>
                                                        <div class="back-box-icon" onclick="window.history.back();">
                                                            Quay lại
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="container">
                                                    <div class="main">
                                                        <div class="view_leftcol left">
                                                            <div class="logo_container">
                                                                @if (nguoiLD.GioiTinhId == 1)
                                                                {
                                                                    <img id="dnn_ctr501_ViewVLHCM_ctl00_imgAvatar" src="/Content/Portals/0/images/avatar2.jpg" style="width: 225px;">
                                                                }
                                                                else if (nguoiLD.GioiTinhId == 2)
                                                                {
                                                                <img id="dnn_ctr501_ViewVLHCM_ctl00_imgAvatar" src="/Content/Portals/0/images/avatar3.jpg" style="width: 225px;">
                                                                }
                                                            </div>
                                                            <div class="recruiment_title">
                                                                Thông tin hồ sơ
                                                            </div>
                                                            <div class="recruiment_boxinfo">
                                                                <div class="recruiment_info">


                                                                    <table width="100%" style="border-collapse: collapse" class="recruiment_table">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    Lượt xem
                                                                                </td>
                                                                                <td class="r-recol">
                                                                                    <span id="XemHoSo_lblViewCount">8</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Mời phỏng vấn
                                                                                </td>
                                                                                <td class="r-recol">
                                                                                    0 doanh nghiệp
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Đã phỏng vấn
                                                                                </td>
                                                                                <td class="r-recol">
                                                                                    0 doanh nghiệp
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    Ngày tạo hồ sơ
                                                                                </td>
                                                                                <td class="r-recol">
                                                                                    @{
                                                                                        var date = timviec.NgayTao.ToString().Split(' ');
                                                                                        var time = date[0];
                                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblCreateDate">@time</span>
                                                                                    }

                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>

                                                            </div>

                                                            <div style="text-align: center;">

                                                            </div>
                                                        </div>
                                                        <div class="view_rightcol left">
                                                            <div class="rightContainer">
                                                                <div class="linkAdminEdit">
                                                                </div>
                                                                <div class="ResumeHead">
                                                                    Thông tin cá nhân
                                                                </div>

                                                                <ul id="dnn_ctr501_ViewVLHCM_ctl00_ulInfo" class="candidate-info-common">
                                                                    <li>
                                                                        <span class="label">Tên :</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblName">@nguoiLD.HoTen</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Ngày sinh :</span>
                                                                        @{
                                                                            var date1 = nguoiLD.NgaySinh.ToString().Split(' ');
                                                                            var time1 = date1[0];
                                                                        }
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblBirthday">@time1</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Giới tính :</span>
                                                                        @if (nguoiLD.GioiTinhId == 1)
                                                                        {
                                                                            <span id="dnn_ctr501_ViewVLHCM_ctl00_lblSex">Nam</span>
                                                                        }
                                                                        else if (nguoiLD.GioiTinhId == 2)
                                                                        {
                                                                            <span id="dnn_ctr501_ViewVLHCM_ctl00_lblSex">Nữ</span>
                                                                        }
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblSex"></span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Số CMND :</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblCMND">@nguoiLD.SoDinhDanh</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Điện thoại :</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblTel">@nguoiLD.SoDienThoai</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Email :</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblEmail">@nguoiLD.Email</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Địa chỉ :</span>

                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblAddress">@nguoiLD.DiaChi</span>
                                                                    </li>
                                                                </ul>
                                                                <div class="ResumeHead">
                                                                    Bằng cấp học vấn
                                                                </div>
                                                                <ul class="candidate-info-level">
                                                                    <li>
                                                                        <span class="label">Trình độ văn hoá:</span>
                                                                        @{
                                                                            for (int i = 0; i < vanBang.Count; i++)
                                                                            {
                                                                                if (vanBang[i].Id == timviec.VanBangId)
                                                                                {
                                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblTrinhdoVanhoa">@vanBang[i].TenVanBang</span>
                                                                                }
                                                                            }
                                                                        }

                                                                    </li>

                                                                    <li>
                                                                        <span class="label">Trình độ ngoại ngữ:</span>
                                                                        @{

                                                                            for (int i = 0; i < ngoaingu.Count; i++)
                                                                            {
                                                                                if (ngoaingu[i].Id == timviec.NgoaiNguId)
                                                                                {
                                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblLangLevel">@ngoaingu[i].TenChungChi</span>
                                                                                }
                                                                            }
                                                                        }

                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Trình độ tin học:</span>
                                                                        @{
                                                                            for (int i = 0; i < tinhoc.Count; i++)
                                                                            {
                                                                                if (tinhoc[i].Id == timviec.TinHocId)
                                                                                {
                                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblITLevel">@tinhoc[i].TenChungChi</span>
                                                                                }

                                                                            }
                                                                        }


                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Ngành nghề đào tạo:</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblNganhNgheDaotao">@timviec.ChuyenNganh</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Kinh nghiệm làm việc:</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblExperience">@timviec.KinhNghiem</span>
                                                                    </li>
                                                                </ul>
                                                                <div class="ResumeHead">
                                                                    Nguyện vọng nghề nghiệp
                                                                </div>
                                                                <ul class="candidate-info-feature">
                                                                    <li>
                                                                        <span class="label">Chức danh mong muốn:</span>
                                                                        @{
                                                                            for (int i = 0; i < vitri.Count; i++)
                                                                            {
                                                                                if (vitri[i].Id == timviec.ViTriCongViecId)
                                                                                {
                                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblPosition">@vitri[i].TenViTriCongViec</span>
                                                                                }
                                                                            }
                                                                        }

                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Ngày có thể bắt đầu làm việc:</span>
                                                                        @{
                                                                            var tom = timviec.NgayBatDau;
                                                                            var date2 = tom.ToString().Split(' ');
                                                                            var time2 = date2[0];
                                                                            <span id="dnn_ctr501_ViewVLHCM_ctl00_lblStartDate">@time2</span>
                                                                        }

                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Chuyên môn mong muốn:</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblChuyenMonMongMuon">@timviec.ChuyenNganh</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Mức lương mong muốn:</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblSalary">Thỏa thuận</span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Thời gian làm việc mong muốn:</span>
                                                                        @{
                                                                            for (int i = 0; i < tg.Count; i++)
                                                                            {
                                                                                if (tg[i].Id == timviec.ThoiGianLamViecId)
                                                                                {

                                                                                    <span id="dnn_ctr501_ViewVLHCM_ctl00_lblWorkTimeType">@tg[i].TenThoiGianLamViec</span>
                                                                                }
                                                                            }
                                                                        }

                                                                    </li>

                                                                    <li>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblDicongtac"></span>
                                                                    </li>
                                                                    <li>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblThaydoiNoilv"></span>
                                                                    </li>
                                                                    <li>
                                                                        <span class="label">Mô tả thêm:</span>
                                                                        <span id="dnn_ctr501_ViewVLHCM_ctl00_lblMoreInfor"></span>
                                                                    </li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                        <div class="clear">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End_Module_8061 -->
                                    </div>
                                </div>
                                <div class="container">

                                    <!-- Trigger the modal with a button -->

                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog modal-sm">

                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                    <h4 class="modal-title">Đặt lịch phỏng vấn</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="hidden" name="hdfPersonID" id="hdfPersonID">

                                                    <div class="modal-input">
                                                        <div class="TitleInterview">Giờ PV:</div>
                                                        <input name="HourInterview" type="number" max="23" min="0" id="HourInterview">
                                                    </div>

                                                    <div class="modal-input">
                                                        <div class="TitleInterview">Phút PV:</div>
                                                        <input name="MinuteInterview" type="number" max="59" min="0" id="MinuteInterview">
                                                    </div>

                                                    <div class="modal-input">
                                                        <div class="TitleInterview">Ngày PV:</div>
                                                        <input name="TimeInterview" type="date" id="TimeInterview">
                                                    </div>

                                                    <div class="modal-input">
                                                        <div class="TitleInterview">Địa điểm PV:</div>
                                                        <textarea name="AddressInterview" id="AddressInterview"></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a class="btn btn-default" href="javascript:__doPostBack('dnn$ctr501$ViewVLHCM$ctl00$ctl00','')">Lưu</a>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <script>
            function Dat_Lich_click(Hour, Minute, InterviewDate, InterviewAddress) {
                if (Hour != '-1')
                    $("#HourInterview").val(Hour);
                else
                    $("#HourInterview").val("");
                if (Minute != '-1')
                    $("#MinuteInterview").val(Minute);
                else
                    $("#MinuteInterview").val("");
                if (InterviewDate.indexOf("01/01/0001") === -1) {
                    var strDate2time = InterviewDate.split(" ");
                    if (strDate2time) {
                        var strDMY = strDate2time[0].split("/");
                        if (strDMY) {
                            strDMY = strDMY[2] + "-" + strDMY[1] + "-" + strDMY[0];
                        }
                        $("#TimeInterview").val(strDMY);
                    }
                } else {
                    $("#TimeInterview").val("");
                }
                    $("#AddressInterview").val(InterviewAddress);
                    $("#myModal").modal();
                    //alert(UserId + "-" + Hour + "-" + Minute + "-" + InterviewDate + "-" + InterviewAddress);
                }
                                </script>

                                <style>
                                    .modal-dialog .modal-content {
                                        width: 25%;
                                    }

                                    .modal-dialog .modal-header {
                                        font-size: 20px;
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                    }

                                    .modal-dialog .modal-body input, .modal-dialog .modal-body textarea {
                                        width: 100%;
                                    }

                                    .modal-dialog .modal-body .modal-input {
                                        margin-bottom: 5px;
                                    }

                                    .TitleInterview {
                                        margin-bottom: 5px;
                                    }
                                </style>

                            </div><!-- End_Module_501 -->
                        </div>
                    </div>
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-605">
                        <a name="605"></a>
                        <div class="dnnPEMContNotitle">
                            <div id="dnn_ctr605_ContentPane" class="dnnPEMContNotitleBody">
                                <!-- Start_Module_605 -->
                                <div id="dnn_ctr605_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                    <div id="dnn_ctr605_HtmlModule_lblContent" class="Normal">

                                    </div>

                                </div><!-- End_Module_605 -->
                            </div>
                        </div>
                    </div>
                </div>*@
        <div class="clear">
        </div>
    </div>
</div>
