@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "TuyenDung";

    var tuyendung = ViewBag.TuyenDung;
    var doanhNghiep = ViewBag.DoanhNghiep;
    var vitri = ViewBag.ViTriCongViec;
    var tinh = ViewBag.DMTinh;
    var huyen = ViewBag.DMHuyen;
    var vanBang = ViewBag.VanBang;
    var ngoaingu = ViewBag.NgoaiNgu;
    var tinhoc = ViewBag.TinHoc;
    var tg = ViewBag.TGLamViec;
    var loaihinh = ViewBag.LoaiHinh;
    var nguoild = ViewBag.NguoiLD;
    var timviec = ViewBag.TimViec;
    var cauhinh = ViewBag.CauHinh;
    var banner = ViewBag.Banner;


    @using Microsoft.AspNetCore.Http;
    @using coreWeb.Controllers;
    var username = Context.Session.GetString("UserName");
    var fullname = Context.Session.GetString("FullName");
    int? roleid = Context.Session.GetInt32("RoleId");
    int? userid = Context.Session.GetInt32("UserId");
    int? ngldid;

}
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<script src="~/Content/Assets/js/bundle.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://vieclamcantho.com.vn/view/public/cv_theme/cv1/css/cv1_style.css">

<div class="body-view view-news">
    <div class="page_container">
        <div class="view-news-container">
            <div class="main-contentPane left">
                <div class="page-recruitment ">
                    <div class="container">
                        @{
                            if (tuyendung == null)
                            {
                                <div class="spec-boxitem">
                                    <div tyle="display: inline-block; width: 100%;">
                                        <div class="SubHead">
                                            <p style="margin-left :30px;margin-top:20px">
                                                Không tìm thấy trang
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="recruitment-header mb-3">
                                    <div class="card">
                                        <div class="row row-10 align-items-center">
                                            <div class="col-md-9 col-lg-9 col-xl-10 d-flex">
                                                <div class="card-avatar">
                                                    <a class="card-image lazy" style="background-image: url('/Content/Portals/0/images/logobl.png')"></a>
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-title text-capitalize">@tuyendung.TenCongViec</h6>
                                                    <p class="card-text">
                                                        <a href="/DNghiep/Index?tendn=@doanhNghiep.TenDoanhNghiep">@doanhNghiep.TenDoanhNghiep</a>
                                                    </p>
                                                    @{
                                                        if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                        {
                                                            <p class="card-subtext">Thông tin ẩn</p>
                                                        }
                                                        else
                                                        {
                                                            <p class="card-subtext">@doanhNghiep.DiaChi</p>
                                                        }
                                                    }


                                                    <div class="card-list">
                                                        <p>
                                                            <i class="fal fa-usd-circle size-1rem blue-color mr-2"></i>
                                                            <span class="pr-1">
                                                                Mức lương:
                                                            </span>
                                                            @{
                                                                if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                {
                                                                <p>Thông tin ẩn</p>
                                                                }
                                                                else
                                                                {
                                                                     @tuyendung.MucLuong.TenMucLuong
                                                                }
                                                            }

                                                            </p>
                                                            <p>
                                                                <i class="fal fa-clock size-1rem blue-color mr-2"></i>
                                                                <span class="pr-1">
                                                                    Hạn nộp:
                                                                </span>

                                                                @{
                                                                    if (tuyendung.HanNop != null)
                                                                    {
                                                                        var hannopdate = tuyendung.HanNop.ToString().Split(' ');
                                                                        var hannop = hannopdate[0];
                                                                        @hannop
                                                                    }
                                                                    else
                                                                    {
                                                                        <a></a>
                                                                    }

                                                                }

                                                            </p>
                                                        </div>
                                                    </div>
                                                    @{
                                                        if (tuyendung.XacThuc == true)
                                                        {
                                                            <img src="~/Content/Assets/doanhnghiep/img/daxacthuc.png" class="img-xacthuc" alt="Đã xác thực">
                                                        }
                                                    }

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="recruitment-body">
                                        <div class="recruitment-content">
                                            <div class="row row-10">
                                                <div class="col-md-12">
                                                    <div class="recruitment-main position-relative bg-white border mb-3 p-3">
                                                        <div class="recruitment-inner recruitment-info mb-4">
                                                            <div class="row row-10">

                                                                <div class="col-md-6 mb-1">
                                                                    <span><i class="fal fa-user-tie"></i></span>
                                                                    <span class="fw-600 pr-1">
                                                                        Chức
                                                                        vụ:
                                                                    </span>

                                                                    @vitri.TenViTriCongViec
                                                                </div>

                                                                <div class="col-md-6 mb-1">
                                                                    <span><i class="fal fa-users-medical"></i></span>
                                                                    <span class="fw-600 pr-1">
                                                                        Số lượng cần
                                                                        tuyển:
                                                                    </span> @tuyendung.SoLuong nhân viên
                                                                </div>

                                                                <div class="col-md-6 mb-1">
                                                                    <span><i class="fal fa-credit-card-front"></i></span>
                                                                    <span class="fw-600 pr-1">
                                                                        Hình thức làm
                                                                        việc:
                                                                    </span>
                                                                    @{
                                                                        if (tuyendung.ThoiGianLamViecId != null)
                                                                        {
                                                                            @tg.TenThoiGianLamViec
                                                                        }
                                                                        else
                                                                        {
                                                                            <span>Chưa xác định</span>
                                                                        }
                                                                    }

                                                                </div>

                                                                <div class="col-md-6 mb-1">
                                                                    <span><i class="fal fa-map-marker-alt"></i></span>
                                                                    <span class="fw-600 pr-1">Địa điểm làm việc: </span>
                                                                    <a href="">@tuyendung.NoiLamViec</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="recruitment-inner recruitment-job mb-4">
                                                            <div class="heading-style">
                                                                <span>Mô tả công việc</span>
                                                            </div>
                                                            <div class="description-content size-095rem">

                                                                @Html.Raw(tuyendung.MoTaCongViec)
                                                            </div>
                                                        </div>
                                                        <div class="recruitment-inner recruitment-required-job mb-4">
                                                            <div class="heading-style">
                                                                <span>Yêu cầu công việc</span>
                                                            </div>
                                                            <div class="description-content size-095rem">

                                                                @Html.Raw(tuyendung.YeuCauCongViec)
                                                            </div>
                                                        </div>
                                                        <div class="recruitment-inner recruitment-benefit mb-4">
                                                            <div class="heading-style">
                                                                <span>Quyền lợi được hưởng</span>
                                                            </div>

                                                            @Html.Raw(tuyendung.PhucLoi)

                                                        </div>

                                                        <div class="recruitment-inner recruitment-required-profile mb-4">
                                                            <div class="heading-style">
                                                                <span>Thông tin liên hệ</span>
                                                            </div>
                                                            <div class="description-content size-095rem d-flex flex-column">

                                                                <div class="d-flex align-items-center mr-4 mt-2">
                                                                    <span class="mr-2 w-18 size-1rem blue-color">
                                                                        <i class="fal fa-map-marker-alt"></i>
                                                                    </span>
                                                                    <div>
                                                                        <b>Địa chỉ:</b>
                                                                        @{
                                                                            if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                            {
                                                                                <span>Thông tin ẩn </span>
                                                                            }
                                                                            else
                                                                            {

                                                                                @doanhNghiep.DiaChi
                                                                            }
                                                                        }
                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center mt-2">
                                                                    <span class="mr-2 w-18  size-1rem blue-color">
                                                                        <i class="fal fa-phone-alt"></i>
                                                                    </span>
                                                                    <div>
                                                                        <b>Số điện thoại:</b>
                                                                        @{
                                                                            if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                            {
                                                                                <span>Thông tin ẩn </span>
                                                                            }

                                                                            else
                                                                            {
                                                                                <a href="tel:@doanhNghiep.SoDienThoai">@doanhNghiep.SoDienThoai</a>
                                                                            }
                                                                        }

                                                                    </div>
                                                                </div>
                                                                <div class="d-flex align-items-center mt-2">
                                                                    <span class="mr-2 w-18  size-1rem blue-color">
                                                                        <i class="fal fa-envelope"></i>
                                                                    </span>
                                                                    <div>
                                                                        <b>Email:</b>
                                                                        @{
                                                                            if (cauhinh.GiaTri == "0" && userid == 0 || cauhinh.GiaTri == "0" && userid == null)
                                                                            {
                                                                                <span>Thông tin ẩn </span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <a href="mailto:@doanhNghiep.Email">@doanhNghiep.Email</a>
                                                                            }
                                                                        }

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="recruitment-related">
                                                        <!-- google ads (chitiet) -->
                                                        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2524335930965646" data-ad-slot="8899167389" data-ad-format="auto" data-full-width-responsive="true"></ins>
                                                        <script>
                                                            (adsbygoogle = window.adsbygoogle || []).push({});
                                                        </script>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                }
                        }

                    </div>
                </div>
            </div>

            <div class="nav-contentPane right">
                <div class="nav-contentPane-wrapper">
                    <div id="dnn_NewsPage_leftPane">
                        <div class="DnnModule DnnModule-VietNews DnnModule-703">
                            <a name="703"></a>
                            <div id="dnn_ctr703_ContentPane">
                                <!-- Start_Module_703 -->
                                <div id="dnn_ctr703_ModuleContent" class="DNNModuleContent ModVietNewsC">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfPageCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfPageCate" value="100">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfCate" value="2">
                                    <div class="banner-qc-all">
                                        @{
                                            foreach (var item in banner)
                                            {
                                                var hinhanh = item.HinhAnh.ToString().Split('[', ']', '"');
                                                var hinh = hinhanh[2];
                                                <div class="banner-qc">
                                                    <a href="@item.Link" target="@item.Target">
                                                        <img class="qc-banner" src="~/images/@hinh" />
                                                    </a>

                                                </div>
                                            }

                                        }

                                    </div>


                                </div><!-- End_Module_703 -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        
    </div>
</div>


