
@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "DaoTaoDetail";


    var banner = ViewBag.Banner;
    var video = ViewBag.Video;
    var tinbhtn = ViewBag.TinBHTN;
    var searchStr = ViewBag.Searchstring;
    var tinbhtnall = ViewBag.TinBHTNAll;

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<script src="~/Content/Assets/js/bundle.js" type="text/javascript"></script>

<div class="body-view view-news">
    <div class="page_container">
        <div class="view-news-container">
            <div class="main-contentPane left">
                <div id="dnn_NewsPage_rightPane" class="contentPane">
                    <div class="DnnModule DnnModule-Document DnnModule-537">
                        <a name="537"></a>
                        <div id="dnn_ctr537_ContentPane">
                            <!-- Start_Module_537 -->
                            <div id="dnn_ctr537_ModuleContent" class="DNNModuleContent ModDocumentC">
                                <input type="hidden" name="dnn$ctr537$ViewDocument$ctl00$hdfDocument" id="dnn_ctr537_ViewDocument_ctl00_hdfDocument" value="103">
                                <div class="Invisible">
                                    <div class="container-box spec-increbox">
                                        @{
                                            if (tinbhtn == null)
                                            {
                                                 <div class="spec-boxitem">
                                                    <div tyle="display: inline-block; width: 100%;">
                                                        <div class="SubHead">
                                                            <p style="margin-left :30px;margin-top:20px">
                                                                Không tìm thấy trang
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="spec-boxitem">
                                                    <div style="display: inline-block; width: 100%;">
                                                        <div class="SubHead">
                                                            <div class="row backbutton">
                                                                <div class="col-md-11">
                                                                    <h4 class="news-title">
                                                                        @tinbhtn.TieuDe
                                                                    </h4>
                                                                </div>
                                                                @{
                                                                    if (searchStr == null)
                                                                    {
                                                                        <div class="col-md-1">
                                                                            <button class="back_button" onclick="window.history.back()">
                                                                                <i class="fa fa-arrow-left"></i>
                                                                            </button>
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {

                                                                        <div class="col-md-1">
                                                                            @using (Html.BeginForm("SearchTinTuc", "BanTin", new { searchString = searchStr }, FormMethod.Post))
                                                                            {
                                                                                <button class="back_button" type="submit">
                                                                                    <i class="fa fa-arrow-left"></i>
                                                                                </button>
                                                                            }

                                                                        </div>
                                                                    }
                                                                }
                                                            </div>


                                                        </div>
                                                        <div class="DateTime">
                                                            @*<span class="NewsDateUpdate">Ngày cập nhật:</span>*@

                                                            <span class="HotNews_date">
                                                                @{
                                                                    if (tinbhtn.NgayTao != null)
                                                                    {
                                                                        var splitdate = tinbhtn.NgayTao.ToString().Split(" ");
                                                                        var splittime = splitdate[1].ToString().Split(":");
                                                                        <i class="fal fa-clock"> </i>
                                                                        @splitdate[0] <span>- @splittime[0]:</span><span>@splittime[1]-</span><span>@splitdate[2]</span> 
                                                                    }



                                                                }

                                                            </span>
                                                        </div>
                                                        <div class="lbSummary" style="display: block;">
                                                            <span class="NewsDetail_summary">
                                                                @Html.Raw(tinbhtn.TomTat)
                                                            </span>
                                                        </div>
                                                        <div style="display: block;">
                                                            <div class="NewsDetail_content">
                                                                @Html.Raw(tinbhtn.NoiDung)

                                                            </div>
                                                        </div>
                                                        <div style="clear: both;">
                                                        </div>
                                                    </div>
                                                    <div style="clear: both;">
                                                    </div>



                                                    <div>
                                                        <h4 class="blockinLine">
                                                            <span class="text">Tin khác</span>
                                                        </h4>
                                                        <ul class="related-items">
                                                            @for (int i = 0; i < tinbhtnall.Count; i++)
                                                            {
                                                                if (tinbhtnall[i].ChuyenMucId == tinbhtn.ChuyenMucId && tinbhtnall[i].Id != tinbhtn.Id)
                                                                {

                                                                    <li>
                                                                        <a id="dnn_ctr696_ViewVietNews_ctl00_rptNews_hplTitle_@i" title="@tinbhtnall[i].TieuDe" class="link_news_other2" href="/BHTN/BHTNDetail?newsId=@tinbhtnall[i].Id">@tinbhtnall[i].TieuDe</a>
                                                                    </li>
                                                                }

                                                            }


                                                        </ul>
                                                    </div>
                                                </div>
                                            }
                                        }


                                    </div>
                                </div>


                            </div><!-- End_Module_537 -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-contentPane right">
                <div class="nav-contentPane-wrapper">
                    <div id="dnn_NewsPage_leftPane">
                        <div class="DnnModule DnnModule-Document DnnModule-535">
                            <a name="535"></a>
                            <div id="dnn_ctr535_ContentPane">
                                <div class="video-part">
                                    @{
                                        if (video.Count > 0)
                                        {
                                            <div class="video-title">
                                                <p>Video</p>
                                            </div>
                                        }
                                    }
                                    @{
                                        foreach (var item in video)
                                        {
                                            <iframe class="video-box" src="@item.Video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                        }
                                    }
                                    @*<iframe class="video-box" src="https://www.youtube.com/embed/E7AIp-HJ7IY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe class="video-box" src="https://www.youtube.com/embed/E7AIp-HJ7IY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@

                                </div>
                            </div>
                        </div>

                        <div class="DnnModule DnnModule-VietNews DnnModule-703">
                            <a name="703"></a>
                            <div id="dnn_ctr703_ContentPane">
                                <!-- Start_Module_703 -->
                                <div id="dnn_ctr703_ModuleContent" class="DNNModuleContent ModVietNewsC">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfPageCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfPageCate" value="100">
                                    <input type="hidden" name="dnn$ctr703$ViewVietNews$ctl00$hdfCate" id="dnn_ctr703_ViewVietNews_ctl00_hdfCate" value="2">
                                    <div class="banner-qc-all">
                                        @{
                                            foreach (var item in banner)
                                            {
                                                var hinhanh = item.HinhAnh.ToString().Split('[', ']', '"');
                                                var hinh = hinhanh[2];
                                                <div class="banner-qc">
                                                    <a href="@item.Link" target="@item.Target">
                                                        <img class="qc-banner" src="~/images/@hinh" />
                                                    </a>

                                                </div>
                                            }

                                        }

                                    </div>


                                </div><!-- End_Module_703 -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="clear">
            </div>

            <div id="dnn_NewsPage_FullPane" class="contentPane DNNEmptyPane">
            </div>
        </div>
    </div>
</div>



