@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Frontend.cshtml";
    ViewData["Title"] = "DaoTaoNghe";


    var coso = ViewBag.CoSoDaoTao;
    var vanbang = ViewBag.VanBang;
    var daotaoloc = ViewBag.DaoTaoLoc;
    var daotaoskip = ViewBag.DaoTaoSkip;
    var vbid = ViewBag.VBID;
    var loaihinh = ViewBag.LoaiHinh;
    int num = 0;
    int skipToPrevious = (int)ViewBag.pPage - 1;
    int PageCount = (int)ViewBag.PageCount;
    int skipToNext = (int)ViewBag.pPage + 1;
    if (skipToNext > PageCount) { skipToNext = 1; };
    if (skipToPrevious < 1) { skipToPrevious = PageCount; };
    int CurrentPage = (int)ViewBag.pageCurrent;
    int pPage = (int)@ViewBag.pPage;
    int pSkip = ViewBag.Skip;
    if (CurrentPage > 1)
    {
        num = ViewBag.Skip * (CurrentPage - 1);
    }


}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="~/Content/Assets/css/bundle.css" rel="stylesheet" />
<script src="~/Content/Assets/js/bundle.js" type="text/javascript"></script>

<div class="body-view view-news">
    <div id="page-container">
        <div class="view-news-container">
            <div class="main-contentPane left">
                <div id="dnn_ContentPane" class="contentPane">
                    <div class="DnnModule DnnModule-ExchangeJob DnnModule-542">
                        <a name="542"></a>
                        <div id="dnn_ctr542_ContentPane">
                            <!-- Start_Module_542 -->
                            <div id="dnn_ctr542_ModuleContent" class="DNNModuleContent ModExchangeJobC">
                                <div id="dnn_ctr542_ViewExchangeJob_ctl00_UpdatePanel1">

                                </div>
                                <div class="Invisible">

                                    <div id="tabs">
                                        <div class="search-bar position-relative overflow-hidden mb-3">
                                            <form name="frmSearch" id="frmSearch">
                                                <div class="container">
                                                    <div class="search-inner">
                                                        <div class="row row-5 align-items-center">
                                                            <div class="col-md-4">
                                                                <div class="form-group position-relative mb-0 noidung">
                                                                    <input type="text" class="form-control rounded-0 transition-03" placeholder="Tên khóa học" value="" id="searchStr">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="row row-5 align-items-center">
                                                                    <div class="col-md-5">
                                                                        <div class="form-group position-relative mb-0 nganhnghe">
                                                                            <select class="form-control select2 vieclam-select2 rounded-0 transition-03 select2-hidden-accessible" multiple="" name="searchNN" id="searchNN" data-placeholder="Lọc theo Văn Bằng" size="1" tabindex="-1">
                                                                                @*<option class="option-items size-085rem" value="-1">Ngành nghề - Tất cả</option>*@
                                                                                @{
                                                                                    foreach (var item in vanbang)
                                                                                    {
                                                                                        <option class="option-items size-085rem" value="@item.Id">
                                                                                            @item.TenVanBang
                                                                                        </option>
                                                                                    }
                                                                                }

                                                                            </select>

                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-5">
                                                                        <div class="form-group position-relative mb-0 diadiem">
                                                                            <select class="form-control select2 vieclam-select2 rounded-0 transition-03 select2-hidden-accessible" name="" multiple="" id="searchDD" data-placeholder="Lọc theo cơ sở đào tạo" size="1" tabindex="-1" aria-hidden="true">

                                                                                @{
                                                                                    foreach (var item in coso)
                                                                                    {
                                                                                        <option class="option-items size-085rem" value="@item.Id">
                                                                                            @item.TenCoSoDaoTao
                                                                                        </option>

                                                                                    }
                                                                                }

                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group position-relative mb-0">
                                                                            <button type="submit" class="form-control rounded-0 btn bg-orange transition-03">
                                                                                <i class="fal fa-search"></i>Tìm
                                                                            </button>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="page-search my-3">
                                            <div class="">
                                                <div class="row row-10">
                                                    <div class="col-md-12">
                                                        <div class="search-inner bg-white border" id="searchAjax">

                                                            <div id="kqSearch">
                                                                @{

                                                                    foreach (var item in daotaoskip)
                                                                    {
                                                                        <div class="search-item p-3">
                                                                            <div class="row row-10">
                                                                                <div class="col-md-2">
                                                                                    <div class="search-avatar mx-auto">
                                                                                        <a href="/DaoTao/DaoTaoDetail?dtID=@item.Id" class="boxItemBackground lazy" style="background-image: url(/Content/Portals/0/images/IconCompany.png)"></a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-7">
                                                                                    <div class="search-content">
                                                                                        <div class="search-name  is-vip d-flex align-items-center justify-content-start mb-1">
                                                                                            <a href="/DaoTao/DaoTaoDetail?dtID=@item.Id" class="size-09rem fw-700 tdAjax text-ellipsis" data-id="27235" data-type="td" title="" data-toggle="tooltip" data-original-title="@item.TenKhoaHoc">
                                                                                                Tên khóa học : @item.TenKhoaHoc
                                                                                            </a>
                                                                                        </div>
                                                                                        <div class="search-address">
                                                                                            @{
                                                                                                for (int i = 0; i < coso.Count; i++)
                                                                                                {
                                                                                                    if (coso[i].Id == item.Id)
                                                                                                    {
                                                                                                        <a href="/DaoTao/DaoTaoDetail?dtID=@item.Id" data-toggle="tooltip" title="" class="size-09rem text-uppercase text-gray d-inline-block text-ellipsis" data-original-title="@coso[i].TenCoSoDaoTao">Cơ Sở Đào Tạo : @coso[i].TenCoSoDaoTao</a>

                                                                                                    }
                                                                                                }
                                                                                            }

                                                                                        </div>
                                                                                        <div class="search-desc size-085rem">
                                                                                            <div class="row row-10">
                                                                                                <div class="col-md-9">
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-5">

                                                                                                            <div class="search-desc-item text-ellipsis" data-toggle="tooltip" title="" data-original-title="Học phí: @item.HocPhi">
                                                                                                                <i class="fal fa-usd-circle blue-color w-18"></i>
                                                                                                                @item.HocPhi
                                                                                                            </div>



                                                                                                        </div>
                                                                                                        <div class="col-md-7">
                                                                                                            @{
                                                                                                                var date = item.HanDangKy.ToString().Split(' ');
                                                                                                                var time = date[0];
                                                                                                            }
                                                                                                            <div class="search-desc-item text-ellipsis" data-toggle="tooltip" title="" data-original-title="Hạn nộp: @time">
                                                                                                                <i class="fal fa-clock blue-color w-18"></i>
                                                                                                                @time
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                @*<div class="col-md-3">
                                                                                                        @{
                                                                                                            var date = item.HanNop.ToString().Split(' ');
                                                                                                            var time = date[0];
                                                                                                        }

                                                                                                        <div class="search-desc-item text-ellipsis" data-toggle="tooltip" title="" data-original-title="Hạn nộp: @time">
                                                                                                            <i class="fal fa-clock blue-color w-18"></i>
                                                                                                            @time
                                                                                                        </div>
                                                                                                    </div>*@
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <button class="btn_dk">Đăng Ký</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }

                                                                }

                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-top: 15px;">
                                            <table class="PagingTable">
                                                <tbody>
                                                    <tr>
                                                        <td align="left" style="width: 1%;" class="Normal"></td>
                                                        <td align="right" style="width: 99%;" class="Normal">
                                                            <div class="PagingContainer">
                                                                <ul>

                                                                    @{
                                                                        if (CurrentPage > 1 & PageCount > 1)
                                                                        {
                                                                            <li>
                                                                                <a id="dnn_ctr538_ViewDocument_ctl00_rptPager_lnkPage_0" class=" PagingActive" href="/DaoTao/ListDaoTao?vbID=@vbid&pCount=@pSkip&pPage=1">&lt;&lt;</a>
                                                                            </li>


                                                                        }

                                                                        for (int i = 1; i <= PageCount; i++)
                                                                        {
                                                                            if (i == pPage)
                                                                            {
                                                                                <li class="aspNetDisabled">
                                                                                    <a id="dnn_ctr538_ViewDocument_ctl00_rptPager_lnkPage_1" class="aspNetDisabled PagingActive">@i</a>
                                                                                </li>

                                                                            }
                                                                            else
                                                                            {
                                                                                <li>
                                                                                    <a id="dnn_ctr538_ViewDocument_ctl00_rptPager_lnkPage_2" class="PagingActive" href="/DaoTao/ListDaoTao?vbID=@vbid&pCount=@pSkip&pPage=@i">@i</a>
                                                                                </li>

                                                                            }
                                                                        }
                                                                        if (PageCount > 1 & CurrentPage < PageCount)
                                                                        {

                                                                            <li>
                                                                                <a id="dnn_ctr538_ViewDocument_ctl00_rptPager_lnkPage_8" class="PagingActive" href="/DaoTao/ListDaoTao?vbID=@vbid&pCount=@pSkip&pPage=@PageCount">&gt;&gt;</a>
                                                                            </li>

                                                                        }

                                                                    }



                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                    <script type="text/javascript" language="JavaScript">

                                        var ids = new Array('a1', 'a2', 'a3');

                                        function switchid(id, obj) {
                                            hideallids();
                                            showdiv(id);
                                            $("#a1a").removeClass('HeadTextSelected');
                                            $("#a2a").removeClass('HeadTextSelected');
                                            $("#a3a").removeClass('HeadTextSelected');
                                            $(obj).addClass('HeadTextSelected');
                                        }

                                        function hideallids() {
                                            //loop through the array and hide each element by id
                                            for (var i = 0; i < ids.length; i++) {
                                                hidediv(ids[i]);
                                            }
                                        }

                                        function hidediv(id) {
                                            //safe function to hide an element with a specified id
                                            if (document.getElementById) { // DOM3 = IE5, NS6
                                                document.getElementById(id).style.display = 'none';
                                            }
                                            else {
                                                if (document.layers) { // Netscape 4
                                                    document.id.display = 'none';
                                                }
                                                else { // IE 4
                                                    document.all.id.style.display = 'none';
                                                }
                                            }
                                        }

                                        function showdiv(id) {
                                            //safe function to show an element with a specified id

                                            if (document.getElementById) { // DOM3 = IE5, NS6
                                                document.getElementById(id).style.display = 'block';
                                            }
                                            else {
                                                if (document.layers) { // Netscape 4
                                                    document.id.display = 'block';
                                                }
                                                else { // IE 4
                                                    document.all.id.style.display = 'block';
                                                }
                                            }
                                        }
                                    </script>
                                    <div class="clear">
                                    </div>
                                </div>


                            </div><!-- End_Module_542 -->
                        </div>
                    </div>
                    <div class="DnnModule DnnModule-DNN_HTML DnnModule-605">
                        <a name="605"></a>
                        <div class="dnnPEMContNotitle">
                            <div id="dnn_ctr605_ContentPane" class="dnnPEMContNotitleBody">
                                <!-- Start_Module_605 -->
                                <div id="dnn_ctr605_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
                                    <div id="dnn_ctr605_HtmlModule_lblContent" class="Normal">

                                    </div>

                                </div><!-- End_Module_605 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-contentPane left">
                <div class="nav-contentPane-wrapper">
                    <div id="dnn_NewsPage_leftPane">
                        <div class="DnnModule DnnModule-Document DnnModule-535">
                            <a name="535"></a>
                            <div id="dnn_ctr535_ContentPane">
                                <!-- Start_Module_535 -->
                                <div id="dnn_ctr535_ModuleContent" class="DNNModuleContent ModDocumentC">
                                    <input type="hidden" name="dnn$ctr535$ViewDocument$ctl00$hdfDocument" id="dnn_ctr535_ViewDocument_ctl00_hdfDocument" value="103">
                                    <div class="cat-pane">
                                        <div class="cat-title">
                                            <span class="icon-news-top">
                                                <a href="">
                                                    Loại Hình
                                                </a>
                                            </span>
                                        </div>
                                        <div class="cat-item" id="dnn_MenuCatalog">
                                            <div class="Invisible">
                                                <div class="self-catalog">
                                                    <ul>
                                                        @{
                                                            for (int i = 0; i < loaihinh.Count; i++)
                                                            {
                                                                <li id="@i">
                                                                    <a id="dnn_ctr535_ViewDocument_ctl00_rptCate_hplName_@i" href="/DaoTao/ListDaoTao?lhID=@loaihinh[i].Id">@loaihinh[i].TenLoaiHinh</a>
                                                                </li>
                                                            }
                                                        }

                                                    </ul>
                                                </div>
                                                <script type="text/javascript">
                                                    $('#li' + '-1').attr('style', 'font-weight:bold')
                                                </script>
                                            </div>
                                        </div>
                                        <div class="news-conner">
                                        </div>
                                    </div>


                                </div><!-- End_Module_535 -->
                            </div>
                        </div>
                        <div class="DnnModule DnnModule-HomeViectimnguoi DnnModule-539">
                            <a name="539"></a>
                            <div id="dnn_ctr539_ContentPane">
                                <!-- Start_Module_539 -->
                                <div id="dnn_ctr539_ModuleContent" class="DNNModuleContent ModHomeViectimnguoiC">
                                    <input type="hidden" name="dnn$ctr539$MainHome$ctl00$hdfJobBoardID" id="dnn_ctr539_MainHome_ctl00_hdfJobBoardID" value="112">
                                    <input type="hidden" name="dnn$ctr539$MainHome$ctl00$hdfResume" id="dnn_ctr539_MainHome_ctl00_hdfResume" value="112">
                                    <div class="Invisible">
                                        <div class="box-tk">

                                            <div class="tkcontent1">
                                                <div id="dnn_ctr539_MainHome_ctl00_hplJobBoard" class="item-stistic">
                                                    <span class="itemtxt">
                                                        Văn bản hướng dẫn đào tạo
                                                    </span> <span class="itemarrow"></span>
                                                </div>

                                            </div>
                                            <div class="vbcontent container">
                                                @*@{
                                            foreach (var item in vbhdan)
                                            {

                                            }
                                        }*@
                                                <a class="link-vb" href="">
                                                    <div class="vbhd">

                                                        <p>
                                                            <strong>Số ký hiệu:</strong> 72/2016/TT-BTC
                                                        </p>
                                                        <p>
                                                            <strong>Loại văn bản:</strong> TT
                                                        </p>
                                                        <p>
                                                            <strong>Trích yếu:</strong> Thông tư Hướng dẫn mức thu, chế độ thu, nộp, quản lý và sử dụng phí dịch vụ việc làm
                                                        </p>

                                                    </div>
                                                </a>

                                                <a class="link-vb" href="">
                                                    <div class="vbhd">

                                                        <p>
                                                            <strong>Số ký hiệu:</strong> 72/2016/TT-BTC
                                                        </p>
                                                        <p>
                                                            <strong>Loại văn bản:</strong> TT
                                                        </p>
                                                        <p>
                                                            <strong>Trích yếu:</strong> Thông tư Hướng dẫn mức thu, chế độ thu, nộp, quản lý và sử dụng phí dịch vụ việc làm
                                                        </p>

                                                    </div>
                                                </a>
                                                <a class="link-vb" href="">
                                                    <div class="vbhd">

                                                        <p>
                                                            <strong>Số ký hiệu:</strong> 72/2016/TT-BTC
                                                        </p>
                                                        <p>
                                                            <strong>Loại văn bản:</strong> TT
                                                        </p>
                                                        <p>
                                                            <strong>Trích yếu:</strong> Thông tư Hướng dẫn mức thu, chế độ thu, nộp, quản lý và sử dụng phí dịch vụ việc làm
                                                        </p>

                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- End_Module_539 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clear">
        </div>
    </div>
</div>
