@{
    var truycap = "";
    var tuyendung = "";
    var timviec = "";
    var thanhvien = "";
    var footerstring = "";
    var footerstring1 = "";

    for (int i = 0; i < Model.Count; i++)
    {
        truycap = Model[0];
        tuyendung = Model[1];
        timviec = Model[2];
        thanhvien = Model[3];
        footerstring = Model[4];
        footerstring1 = Model[5];
    }
}

<div class="Footer_Info  ">
    <div class="Footer_Content ">
        <div id="dnn_ft_Content1 " class="Footer_Content1 ">
            <div class="DnnModule DnnModule-DNN_HTML DnnModule-824 ">
                <a name="824 "></a>
                <div class="dnnPEMContNotitle ">
                    <div id="dnn_ctr824_ContentPane " class="dnnPEMContNotitleBody ">
                        <!-- Start_Module_824 -->
                        <div id="dnn_ctr824_ModuleContent " class="DNNModuleContent ModDNNHTMLC ">
                            <div id="dnn_ctr824_HtmlModule_lblContent " class="Normal ">
                                <div class="footer-info ">
                                    @Html.Raw(footerstring)
                                    @*<h2 class="footer_title" style="font-weight:bold">TRUNG TÂM DỊCH VỤ VIỆC LÀM LONG AN</h2>

                                    <p style="text-align: left;">
                                        Địa chỉ: Số 78, Quốc lộ 1A, khu phố 6, thị trấn Bến Lức, huyện Bến Lức, tỉnh Long An<br>
                                        - Website:<a href="http://vieclamlongan.vn"> http://vieclamlongan.vn</a><br />
                                        - Email: <a href="mailto:vieclam@vieclamlongan.vn">vieclam@vieclamlongan.vn</a>
                                    </p>
                                    <p class="footer_title">
                                        Phòng Đào tạo - Giới thiệu việc làm: (0272) 3871 711 - 3635 223 <br />
                                        – Hotline/Zalo: 084 2871 711
                                    </p>


                                    <p class="footer_title"> Phòng Bảo hiểm thất nghiệp: <span>(0272) 363 8633 - 3633 566</span></p>

                                    <p class="footer_title"> Phòng Hành chính – Tổng hợp: <span>(0272) 361 566</span></p>*@
                                </div>
                            </div>

                        </div><!-- End_Module_824 -->
                    </div>
                </div>
            </div>
        </div>
        <div id="dnn_ft_Content2 " class="Footer_Content2 ">
            <div class="DnnModule DnnModule-DNN_HTML DnnModule-805 ">
                <a name="805 "></a>
                <div class="module-container ">
                    <h2 class="module-title ">
                        <span id="dnn_ctr805_dnntitle_titleLabel " class="Head ">LIÊN KẾT</span>



                    </h2>
                    <div id="dnn_ctr805_ContentPane " class="module-body ">
                        <!-- Start_Module_805 -->
                        <div id="dnn_ctr805_ModuleContent " class="DNNModuleContent ModDNNHTMLC footer_content ">
                            <div id="dnn_ctr805_HtmlModule_lblContent " class="Normal ">
                                @Html.Raw(footerstring1)
                                @*<p>
            <a href="https://www.longan.gov.vn/Pages/Default.aspx" target="_blank">Cổng thông tin điện tử tỉnh Long An</a>
        </p>

        <p>
            <a href="https://dichvucong.gov.vn/p/home/dvc-trang-chu.htm" target="_blank">Cổng dịch vụ công Quốc gia</a>
        </p>*@
                                @*<ul class="links-box ">
            <li> <a href="">Việc l&agrave;m KCX-KCN</a></li>
            <li> <a href="">Việc l&agrave;m Thanh Ni&ecirc;n</a></li>
        </ul>*@
                            </div>

                        </div><!-- End_Module_805 -->
                    </div>
                </div>
            </div>
        </div>
        <div id="dnn_ft_Content3" class="Footer_Content3">
            <div class="DnnModule DnnModule-DNN_UsersOnline DnnModule-617">
                <a name="617"></a>
                <div class="module-container">
                    <h2 class="module-title">
                        <span id="dnn_ctr617_dnntitle_titleLabel" class="Head">Thống kê</span>



                    </h2>
                    <div id="dnn_ctr617_ContentPane" class="module-body">
                        <!-- Start_Module_617 -->
                        <div id="dnn_ctr617_ModuleContent" class="DNNModuleContent ModDNNUsersOnlineC">

                            <table cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr class="Normal">
                                        <td>
                                            <div id="dnn_ctr617_UsersOnline_pnlMembership">

                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoGroup1.gif" id="dnn_ctr617_UsersOnline_imgMembership" height="14" alt="Thành viên" width="17" align="middle"></td>
                                                            <td class="NormalBold">
                                                                <span id="dnn_ctr617_UsersOnline_MembershipLabel"><u>Số lượt truy cập:</u></span>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoOverall.gif" id="dnn_ctr617_UsersOnline_imgUserCount" height="14" alt="Số người dùng" width="17" align="middle"></td>
                                                            <td class="Normal">
                                                                <span id="dnn_ctr617_UsersOnline_OverallLabel">Tổng :</span>
                                                                <span id="dnn_ctr617_UsersOnline_lblUserCount" class="NormalBold">@truycap</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                            <div id="dnn_ctr617_UsersOnline_pnlMembership">

                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoGroup1.gif" id="dnn_ctr617_UsersOnline_imgMembership" height="14" alt="Thành viên" width="17" align="middle"></td>
                                                            <td class="NormalBold">
                                                                <span id="dnn_ctr617_UsersOnline_MembershipLabel"><u>Thành viên:</u></span>
                                                            </td>
                                                        </tr>


                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoOverall.gif" id="dnn_ctr617_UsersOnline_imgUserCount" height="14" alt="Số người dùng" width="17" align="middle"></td>
                                                            <td class="Normal">
                                                                <span id="dnn_ctr617_UsersOnline_OverallLabel">Tổng :</span>
                                                                <span id="dnn_ctr617_UsersOnline_lblUserCount" class="NormalBold">@thanhvien</span>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>


                                            </div>
                                            <div id="dnn_ctr617_UsersOnline_pnlUsersOnline">

                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoGroup2.gif" id="dnn_ctr617_UsersOnline_imgPeopleOnline" height="14" alt="Người online" width="17" align="middle"></td>
                                                            <td class="NormalBold">
                                                                <span id="dnn_ctr617_UsersOnline_PeopleOnlineLabel"><u>Hồ sơ:</u></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoVisitors.gif" id="dnn_ctr617_UsersOnline_imgVisitors" height="14" alt="Khách" width="17" align="middle"></td>
                                                            <td class="Normal">
                                                                <span id="dnn_ctr617_UsersOnline_VisitorsLabel">Tuyển dụng :</span>
                                                                <span id="dnn_ctr617_UsersOnline_lblGuestCount" class="NormalBold">@tuyendung</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoMembers.gif" id="dnn_ctr617_UsersOnline_imgMemberCount" height="14" alt="Thành viên" width="17" align="middle"></td>
                                                            <td class="Normal">
                                                                <span id="dnn_ctr617_UsersOnline_MembersLabel">Tìm việc:</span>
                                                                <span id="dnn_ctr617_UsersOnline_lblMemberCount" class="NormalBold">@timviec</span>
                                                            </td>
                                                        </tr>
                                                        @*<tr>
                                                                <td align="center" width="25"><img src="~/Content/DesktopModules/UsersOnline/Images/uoTotal.gif" id="dnn_ctr617_UsersOnline_imgTotalCount" height="14" alt="Tổng" width="17" align="middle"></td>
                                                                <td class="Normal">
                                                                    <span id="dnn_ctr617_UsersOnline_TotalLabel">Tổng :</span>
                                                                    <span id="dnn_ctr617_UsersOnline_lblTotalCount" class="NormalBold">207</span>
                                                                </td>
                                                            </tr>*@
                                                    </tbody>
                                                </table>


                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!-- End_Module_617 -->
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden "></div>
    </div>
</div>
