@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int count = 0;
    int num = Model[1].Count;
}
@using coreWeb.Models;
<div id="dnnMenu">
    <ul class="topLevel" id="menu-head-menu">

        @{
           
            for (int i = 0; i < Model.Count; i++)
            {
                if (i == 0)
                {
                    for (int j = 0; j < Model[0].Count; j++)
                    {

                        if (Model[0][j].MenuChaId == null)
                        {
                            if (j == 0)
                            {
                                <li class="item first selected" id="home">

                                    <a class="menunew" href="@Model[0][j].Link">
                                        <div>
                                            @Model[0][j].TieuDe
                                        </div>
                                    </a>

                                </li>
                            }
                            else if (j > 0 & j < Model[0].Count - 1)
                            {
                                bool checkid = false;
                                foreach (var item in Model[1])
                                {
                                    if (item.MenuChaId == Model[0][j].Id)
                                    {
                                        checkid = true;
                                    }
                                }
                                <li class="item dropdown">
                                    @{
                                        if (checkid == true)
                                        {

                                            <div class="row menu-tabs">
                                               
                                                <div class="col-sm-11 menu-tabs-title">
                                                    <a class="menunew" href="@Model[0][j].Link">
                                                        <div>
                                                            @Model[0][j].TieuDe
                                                        </div>
                                                    </a>
                                                       
                                                </div>
                                              
                                                <div class="col-sm-1 icon-menunew">
                                                    <i class="fas fa-caret-down icon-show"></i>
                                                </div>

                                            </div>



                                        }
                                        else
                                        {
                                            <a class="menunew" href="@Model[0][j].Link">
                                                <div>
                                                    @Model[0][j].TieuDe
                                                </div>
                                            </a>
                                        }
                                    }


                                    <ul class="dropdown-content">
                                        @{

                                            for (int k = 0; k < Model[1].Count; k++)
                                            {
                                                if (Model[1][k].MenuChaId == Model[0][j].Id)
                                                {

                                                    <li>
                                                        <a href="@Model[1][k].Link">
                                                            @Model[1][k].TieuDe
                                                        </a>

                                                    </li>


                                                }
                                            }

                                        }
                                    </ul>
                                </li>
                            }
                            else if (j == Model[0].Count - 1)
                            {
                                <li class="item last ">

                                    <a class="menunew" href="@Model[0][j].Link">
                                        <div>@Model[0][j].TieuDe</div>
                                    </a>

                                </li>
                            }

                        }

                    }


                }
            }

        }



    </ul>
</div>
@*@{
        for (int i = 0; i < lenght; i++)
        {
            if (i == 0)
            {
                <li class="item first selected">

                    <a href="">
                        <div></div>
                    </a>

                </li>
            }
            else if (i == lenght)
            {
                <li class="item">

                    <a href="">
                        <div>CoVid-19</div>
                    </a>

                </li>
            }
            else
            {
                <li class="item">

                    <a href="">
                        <div>CoVid-19</div>
                    </a>

                </li>
            }
        }
    }*@



<script>
    const currenturl = location.href;
    const menuitem = document.querySelectorAll("li.item");
    const menuClasname = document.querySelectorAll("a.menunew")
    const menulength = menuitem.length

    const sliptElement = currenturl.split("/")
    const sliptElement1 = sliptElement[3].split("?")
    //alert(sliptElement1[0]);
    const news = "";
    for (let i = 0; i < menulength; i++) {

        if (sliptElement1[0] == "SanVL") {
            menuitem[10].className = " selected last"
        }
        if (menuClasname[i].href === currenturl) {
            if (menuClasname[i].href == "/") {
                menuitem[i].className = " selected dropdown"
            }
            else if (menuClasname[i].href != "/") {
                if (sliptElement1[0] == "SanVL") {
                    menuitem[i].className = "selected last"
                }
                else {
                    menuitem[i].className = "selected"
                }

                var elem = document.getElementById("home");
                elem.className = elem.className.replace("selected", "")

            }


        }
        else if (sliptElement1[0] == "About") {
            menuitem[1].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "BanTin") {
            menuitem[2].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "TuyenDung") {
            menuitem[3].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "TimViec") {
            menuitem[4].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "DaoTao") {
            menuitem[5].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "BHTN") {
            menuitem[6].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "XKLD") {
            menuitem[7].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "VanBan") {
            menuitem[8].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "HoiDap") {
            menuitem[9].className = "selected dropdown"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }
        else if (sliptElement1[0] == "SanVL") {
            menuitem[10].className = "selected last"
            var elem = document.getElementById("home");
            elem.className = elem.className.replace("selected", "")
        }

    }

</script>
