@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using Microsoft.AspNetCore.Http;
    @using coreWeb.Controllers;
    var name = Context.Session.GetString("UserName");
    int? roleid = Context.Session.GetInt32("RoleId");
    int? userid = Context.Session.GetInt32("UserId");
    int? ngldid = Context.Session.GetInt32("NLDID");
    int? dndid = Context.Session.GetInt32("DNID");
}
<div class="menu-top inner-center">
    @{
        if (name != null && name != "" && roleid == 3)
        {
            <button class="btn button-top-pf" onclick="myFunction11()">
                <i class="fa fa-user"></i>
                Quản lý tài khoản
                <i class="fa fa-caret-down"></i>
            </button>

            <div id="topDropdown" class="dropdown-content1">
                <a href="">
                    Xin chào <br />
                    @Context.Session.GetString("FullName")
                </a>
                @{
                    if (ngldid != 0)
                    {
                        <a href="/UserProfile/Employees">
                            <i class="fa fa-edit"></i>
                            Quản lý tài khoản
                        </a>
                    }
                    else
                    {
                        <a href="/UserProfile/EmployeesCreate">
                            <i class="fa fa-edit"></i>
                            Quản lý tài khoản
                        </a>
                    }
                }

                <a href="@Url.Action("Logout", "Home")">
                    <i class="fa fa-sign-out"></i>
                    Đăng xuất
                </a>
            </div>
        }
        else if (name != null && name != "" && roleid == 4)
        {
            <button class="btn button-top-pf" onclick="myFunction11()">
                <i class="fa fa-user"></i>
                Quản lý tài khoản
                <i class="fa fa-caret-down"></i>
            </button>

            <div id="topDropdown" class="dropdown-content1">
                <a href="">
                    Xin chào <br />
                    @Context.Session.GetString("FullName")
                </a>
                @{
                    if (dndid != 0)
                    {
                        <a href="/UserProfile/Employers">
                            <i class="fa fa-edit"></i>
                            Quản lý tài khoản
                        </a>
                    }
                    else
                    {
                        <a href="/UserProfile/EmployersCreate">
                            <i class="fa fa-edit"></i>
                            Quản lý tài khoản
                        </a>
                    }
                }

                <a href="@Url.Action("Logout", "Home")">
                    <i class="fa fa-sign-out"></i>
                    Đăng xuất
                </a>
            </div>
        }
        else
        {
            <ul>
                <li class="login">
                    <a id="dnn_dnnLogin_loginLink" title="Đăng nhập" class="LoginLink btn" href="/Home/Login">Đăng nhập</a>
                    <!--close loginGroup-->
                </li>
                <li class="login">
                    <a id="dnn_dnnUser_registerLink" title="Đăng ký" class="SkinObject btn" href="/Home/Register">Đăng ký</a>
                    <!--close registerGroup-->
                </li>
            </ul>
        }
    }

    @*<ul>
            @{
                if (name != null && name != "" && roleid == 3)
                {

                    if (ngldid != 0)
                    {
                        <li class="login" s>
                            <a id="dnn_dnnUser_registerLink" title="Quản lý thông tin" class="SkinObject " href="/UserProfile/Employees?userId=@userid&roleId=@roleid">Xin chào @Context.Session.GetString("FullName")</a>

                        </li>

                    }
                    else
                    {
                        <li class="login" s>
                            <a id="dnn_dnnUser_registerLink" title="Đăng ký người lao động" class="SkinObject " href="/UserProfile/EmployeesCreate?userId=@userid&roleId=@roleid">Xin chào @Context.Session.GetString("FullName")</a>

                        </li>

                    }
                    <li class="login">
                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                        {

                            <button class="btn btn-default" id="logout" name="logout" type="submit">LogOut</button>

                        }
                    </li>
                }
                else if (name != null && name != "" && roleid == 4)
                {
                    if (dndid != 0)
                    {
                        <li class="login" s>
                            <a id="dnn_dnnUser_registerLink" title="Quản lý thông tin" class="SkinObject" href="/UserProfile/Employers?userId=@userid&roleId=@roleid">Xin chào @Context.Session.GetString("FullName")</a>

                        </li>

                    }
                    else
                    {
                        <li class="login" s>
                            <a id="dnn_dnnUser_registerLink" title="Đăng ký doanh nghiệp" class="SkinObject" href="/UserProfile/EmployersCreate?userId=@userid&roleId=@roleid">Xin chào @Context.Session.GetString("FullName")</a>

                        </li>

                    }
                    <li class="login">
                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                        {

                            <button class="btn btn-default" id="logout" name="logout" type="submit">LogOut</button>

                        }
                    </li>
                }
                else if (name == "" || name == null)
                {
                    <li class="login">
                        <a id="dnn_dnnLogin_loginLink" title="Đăng nhập" class="LoginLink btn btn-default" href="/Home/Login">Đăng nhập</a>
                        <!--close loginGroup-->
                    </li>
                    <li class="login">
                        <a id="dnn_dnnUser_registerLink" title="Đăng ký" class="SkinObject btn btn-default" href="/Home/Register">Đăng ký</a>
                        <!--close registerGroup-->
                    </li>

                }
            }


        </ul>*@
</div>
<script>
    function myFunction11() {
        document.getElementById("topDropdown").classList.toggle("show1");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.button-top-pf')) {
            var dropdowns = document.getElementsByClassName("dropdown-content1");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show1')) {
                    openDropdown.classList.remove('show1');
                }
            }
        }
    }
</script>
