@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@using coreWeb.Controllers;
@{
    Layout = "~/Views/Shared/_Layoutprofile.cshtml";
    ViewData["Title"] = "UserInfo";

    int roleID = ViewBag.Role;
    var timviec = ViewBag.TimViec;
    var ngld = ViewBag.NguoiLaoDong;
    var vanbang = ViewBag.VanBang;
    var nganhnghe = ViewBag.DMNganhNghe;
    //var tinh = ViewBag.DMTinh;
    //var huyen = ViewBag.DMHuyen;
    var tinhoc = ViewBag.TinHoc;
    var ngoaingu = ViewBag.NgoaiNgu;
    var name = Context.Session.GetString("UserName");
    int? roleid = Context.Session.GetInt32("RoleId");
    int? userid = Context.Session.GetInt32("UserId");
    int? ngldid = Context.Session.GetInt32("NLDID");

}
<link href="~/Content/Assets/vendor/styles/bundle.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/Assets/ungvien/css/capnhathoso.css">
<link rel="stylesheet" type="text/css" href="~/Content/Assets/vendor/dropzone/dropzone.css">
<script src="~/Content/Assets/vendor/lib/Sortable.js"></script>
<script src="~/Content/Assets/vendor/dropzone/dropzone.js"></script>


<body class="themeCustom">
    <script src="~/Content/Assets/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Content/Assets/vendor/sweetalert/lib/sweet-alert.min.js"></script>


    <style>
        .grecaptcha-badge {
            display: none !important;
        }
    </style>
    <div class="app layout-fixed-header">
        <!-- sidebar panel -->
        <div class="sidebar-panel offscreen-left">
            <div class="brand">
                <!-- logo -->
                <div class="brand-logo">
                    <div class="imgLogoNtd" id="imgLogoNtd">
                        <img src="~/Content/Assets/images/noimage.jpg">
                        @*<div>
                                <i class="fas fa-camera"></i>
                            </div>*@
                        @*<input class="fileAvatar" type="file" id="fileAvatar" accept="image/x-png,image/gif,image/jpeg">*@
                    </div>
                    <div class="brand-name">
                        @ngld.HoTen
                    </div>
                    @{
                        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
                        {

                            <button class="" type="submit">
                                <i class="fas fa-sign-out"></i>
                                <span>Đăng xuất</span>
                            </button>
                        }
                    }
                </div>

                <!-- /logo -->
                <!-- toggle small sidebar menu -->
                <a href="javascript:;" class="hidden-lg hidden-md hidden-sm toggle-sidebar hidden-xs hamburger-icon v3" data-toggle="layout-small-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <!-- /toggle small sidebar menu -->
            </div>
            <!-- main navigation -->
            <nav role="navigation" style="top: 265px" class="ps-container active open" data-ps-id="5df482b8-8b4a-5bbd-6466-4939bc5152c2">
                <ul class="nav">
                    <li class="active">
                        <a href="">
                            <i class="fas fa-tachometer-alt"></i>
                            <span>Quản lý chung</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/UserProfile/ChangePasswordEmployees">
                            <i class="fas fa-unlock-alt"></i>
                            <span>Đổi mật khẩu</span>
                        </a>
                    </li>
                </ul>
                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 0px;"></div></div>
            </nav>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <header class="header navbar">
                <div class="brand visible-xs">
                    <!-- toggle offscreen menu -->
                    <div class="toggle-offscreen">
                        <a href="#" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <!-- /toggle offscreen menu -->
                    <!-- logo -->
                    <!--                <div class="brand-logo">-->
                    <!--                    <img src="images/logo-dark.png" height="15" alt="">-->
                    <!--                </div>-->
                    <!-- /logo -->
                    <!-- /toggle chat sidebar small screen-->
                </div>
                <ul class="nav navbar-nav">
                    <li class="menu-support">
                        <img class="hidden-xs" src="">
                        <div>
                            Hỗ trợ, tư vấn dành cho ứng viên.
                            <br>
                            <i class="fal fa-phone-alt"></i> <a href="tel: ">(0272) 3871 711 - 3635 223</a>
                            <i class="fal fa-envelope" style="margin-left: 10px"></i> <a href="mailto:vieclam@vieclamlongan.vn">vieclam@vieclamlongan.vn</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="menu-ntd">
                        <a href="/">
                            <i class="fal fa-home-alt"></i>
                            <br>
                            Trang chủ
                        </a>
                    </li>
                    @{
                        if (timviec == null)
                        {
                            <li class="menu-ntd">
                                <a href="/UserProfile/EmployeesCV">
                                    <i class="fal fa-id-card"></i>
                                    <br>
                                    Tạo CV
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="menu-ntd">
                                <a href="/UserProfile/EmployeesCVEdit">
                                    <i class="fal fa-id-card"></i>
                                    <br>
                                    Cập nhật CV
                                </a>
                            </li>
                        }

                    }

                    <li class="menu-ntd">
                        <a href="/TuyenDung">
                            <i class="fal fa-briefcase"></i>
                            <br>
                            Việc làm mới
                        </a>
                    </li>
                    <li class="menu-ntd">
                        <a href="/UserProfile/EditProfileEmployees">
                            <i class="fal fa-clipboard-user"></i>
                            <br>
                            Cập nhật hồ sơ
                        </a>
                    </li>


                </ul>
            </header>
            <!-- /top header -->
            <style>
                .alert {
                    margin-bottom: 10px;
                }
            </style>
            <!-- main area -->
            <div class="main-content">

                <div class="wrapAvatar">
                    <div class="wrapAvatar-image imgLogoNtd">
                        <img src="~/Content/Assets/images/noimage.jpg">
                        @*<span>
                                <i class="fas fa-camera"></i>
                            </span>
                            <input type="file" class="fileAvatar" accept="image/x-png,image/gif,image/jpeg">*@
                    </div>
                    <div class="wrapAvatar-content">
                        <div class="wrapAvatar-content_name">
                            @ngld.HoTen
                        </div>
                        <div class="wrapAvatar-content_text">

                            @{
                                if (timviec != null)
                                {
                                    @timviec.TenCongViec
                                }

                            }
                        </div>

                    </div>
                </div>
                <div class="panel info" id="info-canhan">
                    <div class="panel-heading" data-toggle="panel-collapse">
                        <i class="fas fa-check-circle" style="color: #0099cc; margin-right:5px;"></i>THÔNG TIN CÁ NHÂN
                        <i class="fas fa-caret-down pull-right"></i>
                    </div>
                    <div class="panel-body collapse" style="display: block;">
                        <div id="divInfo">
                            <p>
                                <b>Họ tên:</b> @ngld.HoTen
                            </p>
                            <p>
                                <b>Số điện thoại:</b> @ngld.SoDienThoai
                            </p>
                            <p>
                                <b>Email:</b> @ngld.Email
                            </p>
                            <p>
                                <b>Năm sinh:</b>
                                @{
                                    var dateofbirth = ngld.NgaySinh.ToString().Split('/', ' ');
                                    var dof = dateofbirth[2];
                                }
                                @dof
                            </p>
                            <p>
                                <b>Địa chỉ:</b> @ngld.DiaChi
                            </p>
                            <p>
                                <b>Giới tính:</b>
                                @{
                                    if (ngld.GioiTinhId == 1)
                                    {
                                        <span>Nam</span>
                                    }
                                    else if (ngld.GioiTinhId == 2)
                                    {
                                        <span>Nữ</span>
                                    }
                                }

                            </p>

                        </div>

                    </div>


                </div>
                <div class="panel bangcap" id="bangcap">
                    <div class="panel-heading" data-toggle="panel-collapse">
                        <i class="fas fa-check-circle" style="color: #0099cc; margin-right:5px;"></i>HỌC VẤN BẰNG CẤP
                        <i class="fas fa-caret-down pull-right"></i>
                    </div>
                    <div class="panel-body collapse" style="display: block;">
                        <form id="frmSortTD">
                            <div class="row">
                                <div id="divTD">
                                    <div class="col-sm-6 mb10">
                                        <div class="itemTD">
                                            <input type="hidden" name="key[]" value="0">
                                            <div class="handle">
                                                <i class="far fa-arrows-alt"></i>
                                            </div>
                                            @*<div class="toolBoxTD">
                                                    <button class="btn btn-primary btn-block btn-xs btnTrinhDo" type="button" data-id="0">
                                                        <i class="far fa-edit"></i>
                                                    </button>
                                                    <button class="btn btn-danger btn-block btn-xs btnDelTrinhDo" type="button" data-id="0">
                                                        <i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>*@
                                            <div class="mb5" style="font-weight: 500">
                                                @{
                                                    if (timviec != null)
                                                    {
                                                        if (vanbang != null)
                                                        {
                                                            @vanbang.TenVanBang
                                                        }

                                                    }

                                                }

                                            </div>
                                            <div class="mb5">
                                                @{
                                                    if (timviec != null)
                                                    {
                                                        @nganhnghe.TenNganhNghe
                                                    }

                                                }

                                            </div>
                                            @*<div style="font-size: 12px">Từ tháng 06/2016 đến tháng 10/2019</div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="panel info" id="info-canhan">
                    <div class="panel-heading" data-toggle="panel-collapse">
                        <i class="fas fa-check-circle" style="color: #0099cc; margin-right:5px; "></i>KỸ NĂNG
                        <i class="fas fa-caret-down pull-right"></i>
                    </div>
                    <div class="panel-body collapse" style="display: block;">
                        <div id="divInfo">
                            <p>
                                <b>Tin học:</b>
                                @{
                                    if (timviec != null && tinhoc != null)
                                    {

                                        @tinhoc.TenChungChi
                                    }
                                    else
                                    {
                                        <span>Không</span>
                                    }

                                }

                            </p>
                            <p>
                                <b>Ngoại ngữ:</b>
                                @{
                                    if (timviec != null && ngoaingu != null)
                                    {
                                        @ngoaingu.TenChungChi
                                    }
                                    else
                                    {
                                        <span>Không</span>
                                    }
                                }

                            </p>
                            <p>
                                <b>Kỹ năng:</b>
                                @{
                                    if (timviec != null)
                                    {
                                        @timviec.KyNang
                                    }

                                }

                            </p>

                        </div>

                    </div>

                </div>
                <div class="panel info" id="info-canhan">
                    <div class="panel-heading" data-toggle="panel-collapse">
                        <i class="fas fa-check-circle" style="color: #0099cc; margin-right:5px;"></i>ƯU ĐIỂM - KHUYẾT ĐIỂM
                        <i class="fas fa-caret-down pull-right"></i>
                    </div>
                    <div class="panel-body collapse" style="display: block;">
                        <div id="divInfo">
                            <p>
                                <b>Ưu điểm:</b>
                                @{
                                    if (timviec != null)
                                    {
                                        @timviec.UuDiem
                                    }

                                }


                            </p>
                            <p>
                                <b>Khuyết điểm:</b>
                                @{
                                    if (timviec != null)
                                    {
                                        @timviec.KhuyetDiem
                                    }

                                }

                            </p>



                        </div>

                    </div>


                </div>

            </div>
            <!-- /main area -->
        </div>
        <!-- /content panel -->
        <script src="https://vieclamcantho.com.vn/view/ungvien/index/js/index.js" type="text/javascript"></script><!-- bottom footer -->
        <footer class="content-footer hidden-xs">
            <nav class="footer-left">
                <ul class="nav">
                    <li>
                        <a href="javascript:;">
                            Copyright <i class="fa fa-copyright"></i> <span>VNPT Long An | https://shop.vnptlongan.vn/ </span>
                            2021
                        </a>
                    </li>
                </ul>
            </nav>
        </footer>
        <!-- /bottom footer -->
    </div>

    <script type="text/javascript" src="~/Content/Assets/ungvien/js/bundle.js"></script>
    <script type="text/javascript" src="~/Content/Assets/ungvien/js/capnhathoso.js"></script>
    <div id="rememberry__extension__root" style="all: unset;"></div>
</body>
